
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color:black;
  font-family: Arial;
  overflow: hidden;
}


canvas {
	text-align: center;
	top: 0;
	left: 0;
}


svg {
    display: block;
    font: 3em 'Montserrat';
    width: 960px;
    height: 300px;
    position: absolute;
    padding-top: 950px;
    padding-left: 200px;
    letter-spacing: 0.1em;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: red;
	animation-delay: -1s;
}

.text-copy:nth-child(2){
	stroke: red;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: blue;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: yellow;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: green;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}